# Visual Studio files
.vs/
x64/
Debug/
Release/
*.suo
*.user
*.pdb
*.ipch
*.obj
*.ilk
*.idb
*.opendb

# Logs and temp files
*.log
*.tmp
*.cache

# Executables
*.exe
*.dll

# SDL2 and SDL_image files
/libs/SDL2/
/libs/SDL2_image/

# External libraries cache
*.lib

# Local config files
*.vcxproj.user

# Vcpkg files
vcpkg/

# Ignore asset aseprite files
*.aseprite
*.ase
/Egoheim/Scripts/includes/Scenes/StartScene.h
